<%- include('../layouts/header.ejs') %>
<%- include('../layouts/navbar.ejs') %>
<%- include('../layouts/sidebar.ejs') %>

<main id="main" class="main">
    <h2>Add Banner</h2>
    <p>Banner | Add Banner</p>
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputEmail1">Banner</label>
      <input type="string" name="banner" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Image</label>
      <input  multiple type="file" name="image" class="form-control" id="exampleInputPassword1">
    </div>
    <% if(typeof message!=="undefined"){%>
      <h1 style ="font-size:16px;color:rgb(235, 18, 18);"><%=message %></h1>
      <%}%>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</main>
<%- include('../layouts/footer.ejs') %>