<%- include('../layouts/header.ejs') %>
<%- include('../layouts/navbar.ejs') %>
<%- include('../layouts/sidebar.ejs') %>


<main id="main" class="main">
        <h4 class="card-title">Users</h4>
        <p>Home | Users</p>
        <div class="card">
            <div class="table-responsive px-2">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone No</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% userdatas.forEach((x,index)=>{ %>
                            <tr>
                                <td scope="row"><%= index+1 %></td>
                                <td><%= x.firstname %></td>
                                <td><%= x.email %></td>
                                <td><%= x.mobilenumber %></td>
                                <% if(x.status){%>
                                    <td class="text-success">Active</td>
                                    <%}else {%>
                                    <td class="text-danger">DeActive</td>
                                <%}%>

                                <!-- <% if(x.status){%>
                                    <td>
                                        <button type="button" class="btn btn-primary "><a class="text-decoration-none text-white"
                                             href="/admin/action/<%= x._id %>">Block</a></button>
                                    </td>
                                    <%}else {%>
                                    <td>
                                        <button type="button" class="btn btn-warning "><a class="text-decoration-none text-white"
                                             href="/admin/action/<%= x._id %>">UnBlock</a></button>
                                    </td>
                                <%}%> -->
                                <% if (x.status) { %>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary" onclick="confirmBlock('<%= x._id %>')">Block</button>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-warning" onclick="confirmUnblock('<%= x._id %>')">Unblock</button>
                                    </td>
                                <% } %>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
</main>
<script>
    function confirmBlock(id) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to block this user.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Block User!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/admin/action/' + id;
            }
        })
    }
    
    function confirmUnblock(id) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to unblock this user.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Unblock User!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/admin/action/' + id;
            }
        })
    }
    </script>

<%- include('../layouts/footer.ejs') %>