<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %>

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Product Checkout</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a href="/">Home</a>
            <a href="checkout.html">Product Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Checkout Area =================-->
  <section class="checkout_area section_gap">
    <div class="container">
      <form action="" id="checkout-form">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <label style="color: #000;">Billing Name </label>
              <input type="string"  class="form-control" value="<%= userData.firstname %>" readonly><br>
              <input type="text" name="userId" value="<%= userData._id %>" hidden>
              <label style="color: #000;">Address</label><br>
              <div class="d-flex mb-3 align-items-center ">
                <select class="form-control form-control-lg m-l-25" name="address">
                    <% userData.address.forEach((x, index) => { %>
                    <option><%= x.name %>,
                    <%= x.housename %>,
                    <%= x.street %>,
                    <%= x.district %>,
                    <%= x.state %>,
                    <%= x.pincode %>,
                    <%= x.country %>,
                    <%= x.phone %></option>
                  <% }) %> 
                </select>
                
            <div class=" mx-3 mt-1 ">
            <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                 Add Address
              </button>
            </div>
          </div>
            <div class="cupon_area">
              <input type="text" placeholder="Enter coupon code" name="code" id="NAMEcode" style="width: 300px; ">
                <a onclick="applyCoupon('<%= userData.carttotalprice %>', $('#NAMEcode').val())" class="tp_btn" href="#">Apply Coupon</a>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                <% productdata.cart.forEach((x,index)=>{ %>
                <li>
                  <a href="#">
                    <input type="hidden" name="productId" value="<%= x.product._id %>">
                    <%= x.product.name %> 
                    <span class="middle">x <%=x.quantity %></span>
                    <input type="hidden" name="quantity" value="<%= x.quantity %>">  
                    <span class="last">₹<%= x.prototalprice %></span>
                    <input type="hidden" name="singleTotal" value="<%= x.prototalprice %>">
                  </a>
                </li>
                <%})%>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#"
                    >Shipping
                    <span>Free</span>
                  </a>
                </li>
                <li>
                  <a href="#">Sub Total
                    <span>₹<%=productdata.carttotalprice %></span>
                    <input type="hidden" name="total"  value="<%=productdata.carttotalprice %>">
                  </a>
                </li>
                <div class="row justify-content-between">
                  <div class="col">
                      <p class="mb-1">
                          <b>Discount</b>
                      </p>
                  </div>
                  <div class="flex-sm-col col-auto">
                      <p id="discount" class="mb-1">
                          <b>0</b>
                      </p>
                  </div>
                </div>
              <input id="discount1" name="discount1" type="hidden" value="">
              <li>
                <a href="#">Total
              <span>₹<span id="total"><%=productdata.carttotalprice %></span></span>
                 <input type="hidden" id="total1" name="total1" value="<%=productdata.carttotalprice %>">
                </a>
              </li>
              </ul>
              <input type="hidden" name="code" id="code" value=''>
              <div class="payment_item">
                  <input type="radio" id="f-option6" name="paymentType" value="COD" checked />
                  <label for="f-option6">Cash On Delivery </label>
                  <div class="check"></div>
                
                  <input type="radio" id="f-option6" name="paymentType" value="UPI" />
                  <label for="f-option6">Online Payment </label>
                  <img class="col-auto" src="/user/img/product/single-product/card.jpg" alt="" />
                  <div class="check"></div>

                  <input type="radio" id="f-option6" name="paymentType" value="WALLET" />
                  <label for="f-option6">Wallet </label>
                  <div class="check"></div>
              </div>
              <br>
              <button class="main_btn" type="submit">Place Order</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
  </section>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="myform">
          <style>
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          </style>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="houseName">House Name:</label>
                <input type="text" class="form-control" name="housename" placeholder="Enter house name">
              </div>
              <div class="form-group">
                <label for="street">Street:</label>
                <input type="text" class="form-control" name="street" placeholder="Enter street">
              </div>
              <div class="form-group">
                <label for="district">District:</label>
                <input type="text" class="form-control" name="district" placeholder="Enter district">
              </div>
            </div>
              <div class="col-md-6">
              <div class="form-group">
                <label for="state">State:</label>
                <input type="text" class="form-control" name="state" placeholder="Enter state">
              </div>
              <div class="form-group">
                <label for="pincode">Pincode:</label>
                <input type="number" class="form-control" name="pincode" placeholder="Enter pincode" min="0" inputmode="numeric">
              </div>
              <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" class="form-control" name="country" placeholder="Enter country">
              </div>
              <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="number" class="form-control" name="phone" placeholder="Enter phone number" min="0" inputmode="numeric">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="submitData"  class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  $("#submitData").on('click', function() {
    var formData = $('#myform').serialize();
    $.ajax({
    url: "/addingaddress",
    method: "post",
    data: formData,
    success: function(response) {
      console.log(response);
      window.location.reload();
    },
    });
  });
</script>
<script>
    $("#checkout-form").submit((e)=>{
      e.preventDefault()
      $.ajax({
        url:'/placeorder',
        method:'post',
        data:$('#checkout-form').serialize(),
        success:(response)=>{
          console.log(response);
          if (response.status) {
              location.href='/ordersuccess'
          }else if (response.viewRazorpay){
            razorpayPayment(response.order)
           }else if (response.address){
                  Swal.fire({
                  icon: 'warning',
                  title: 'Address Required',
                  text: 'Please Select An Address.',
              })
            }
        }
      })
    })

    function razorpayPayment(order){
      var options = {
    "key": "rzp_test_fmqn5y1jAAYW85", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Gaming Deck", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler":function(response){
      verifyPayment(response,order)
    },
    "prefill": {
        "name": "Ashik k", //your customer's name
        "email": "ashikash796@gmail.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
}
var rzp1 = new Razorpay(options);
    rzp1.open();
}

    function verifyPayment(payment, order) {
    $.ajax({
    url: '/verify-payment',
    data: {
    payment,
    order
    },
    method: "post",
    success: (response) => {
    // handle the response from the server
    console.log(response);
    if (response.status) {
    location.href = '/ordersuccess'
    }
}
})
}
</script>

<script>
    function applyCoupon(total,code){
      $.ajax({
        url:'/applyCoupon',
        data:{
          total:total,
          code:code
        },
        method:'post',
        success:(response)=>{
          if(response.datefailed){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Coupon Expired.',
            })
          }else if(response.amountnokay){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'To access this coupon buy something more.',
            })
          }else if(response.amountokay){
            document.getElementById('code').value = response.code
            document.getElementById('discount').innerHTML = response.discountValue
            document.getElementById('discount1').value = response.discountValue
            document.getElementById('total').innerHTML = response.value
            document.getElementById('total1').value = response.value
            Swal.fire(
                'Good job!',
                'Coupon granted!',
                'success'
            )
          }else if (response.used){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Already Used.',
            })
          }else if(response.invalid){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Invalid Coupon.',
            })
          }
        }
      })
    }
  </script>

<%- include('../layouts/user/footer.ejs') %> 