<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %> 

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4 fw-bold">Order History</h2>
    <table class="table table-striped" id="reloadDiv">
      <thead class="thead-dark" >
        <tr>
          <th>No</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Delivery Address</th>
          <th>Status</th>
          <th>Action</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% orderData.forEach((x,index)=>{ %>
            <tr>
                <td scope="row"><%= index+1 %></td>
                <td><% x.product.forEach((element)=>{ %>
                <%= element.productId.name %><br>
                <%})%></td>
                
                <td><% x.product.forEach((element)=>{ %>
                  <%= element.quantity %><br>
                  <%})%></td>   

                <td><%= x.total %></td>
                <td><%= x.deliveryaddress %></td>
                <td><%= x.status %></td>
                <td>
                  <% if(x.status == 'Delivered'){%>
                  <button onclick="ReturnOrder('<%= x._id %>')" type="button" class="btn btn-sm btn-danger">
                    <a class="text-decoration-none text-white" href="">Return</a>
                  </button>
                    
                    <%} else if (x.status == 'Returned' ||x.status == 'Cancelled' ){%>
                     
                  <%} else if(x.status == "Confirmed"){%>
                    <button onclick="CancelOrder('<%= x._id %>')" type="button" class="btn btn-sm btn-danger">
                      <a class="text-decoration-none text-white" href="">Cancel</a>
                  </button>
                    <%}%>
                </td>
                <td>
                  <a class="" href="orderdetails/<%=x._id %>"><i class="fa-solid fa-eye" ></i></a>
                </td>
            </tr>
          <%})%> 
        </tr>
      </tbody>
    </table>

  </div>
<script>
    function CancelOrder(orId){
      Swal.fire({
              title: 'Are you sure?',
              text: "You wan't to Cancel!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, Cancel!'
          }).then((result) => {
                 if (result.isConfirmed) {
      $.ajax({
        url:'/cancelorder',
        data:{
          orderId:orId
        },
        method:'post',
        success:(response)=>{
          $('#reloadDiv').load('/orders #reloadDiv')
        console.log(response);
        Swal.fire({
            title: 'Cancelled!',
            text: 'Order Cancelled',
            icon: 'success',
            showConfirmButton: false
            })
        }
      })
    }
  })
}
</script>

<script>
    function ReturnOrder(orId){
      Swal.fire({
              title: 'Are you sure?',
              text: "You wan't to Return!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, Return!'
          }).then((result) => {
                 if (result.isConfirmed) {
      $.ajax({
        url:'/returnorder',
        data:{
          orderId:orId
        },
        method:'post',
        success:(response)=>{
          $('#reloadDiv').load('/orders #reloadDiv')
        console.log(response);
        Swal.fire({
            title: 'Requested!',
            text: 'Return Requested',
            icon: 'success',
            showConfirmButton: false
            })
        }
      })
         }
      })
}
</script>
  

<%- include('../layouts/user/footer.ejs') %>
