<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %>



<div class="container">
    <h1>Wallet History</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Payment Method</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% orderData.forEach((x,index)=>{ %>
            <% if(x.status != "Return Requested" && x.status != "Request Rejected"){%>
        <tr>
          <td><%=x.date.toLocaleString({ day: '2-digit', month: '2-digit', year: '2-digit' }) %></td>
          <td><%=x.total %></td>
          <td><%= x.paymentType %></td>
          <td><%=x.status %></td>
        </tr>
        <%}%>
        <%})%> 
      </tbody>
    </table>
  </div>





<%- include('../layouts/user/footer.ejs') %>